%h2 News Feed
.feeds.animated.fadeInUp
  - if !@feed_message.present?
    %h5.js-no-content.center
      = "-- No content --"
  - else
    %ol.chat
      - for msg in @feed_message
        - if msg.sender == current_user
          %li.self.animated.slideInDown
            .avatar
              = image_tag msg.sender.avatar.url(:thumb)
            .msg
              %h5.msg-name #{msg.sender.first_name}
              - if msg.message.present?
                %p #{msg.message}
              - else
                %p 
                  = image_tag msg.image.url(:thumb)
              %time 
                - if msg.created_at.today?
                  = msg.created_at.strftime("%I:%M %p") 
                - else
                  = msg.created_at.strftime("%a/%m - %I:%M %p")
        - else
          %li.other.animated.slideInDown
            .avatar
              = image_tag msg.sender.avatar.url(:thumb)
            .msg
              %h5.msg-name #{msg.sender.first_name}
              - if msg.message.present?
                %p #{msg.message}
              - else
                %p 
                  = image_tag msg.image.url(:thumb)
              %time
                - if msg.created_at.today?
                  = msg.created_at.strftime("%I:%M %p") 
                - else
                  = msg.created_at.strftime("%a/%m - %I:%M %p")
          %a.waves-effect.waves-teal.btn-flat{:style => "margin-left: 4%;"}
            Share
            %i.fa.fa-heart{"aria-hidden" => "true"}