%h3.message-header Your contacts:
%ul{ class: 'collapsible popout', data: {collapsible: 'accordion' } }
  - for conversation in @conversations 
    - if conversation.user_one == current_user
      - @user = conversation.user_two
      %li
        .collapsible-header
          = image_tag @user.avatar.url(:thumb), :class => "circle msg-list-img"
          %span.msg-list-name
            = @user.first_name
        .collapsible-body
          %p
            %b About:
            = @user.about
            %br
            %b Course:
            - course_user =  CoursesUserRelation.where(user: current_user, owner: @user).first
            = course_user.course.categories.name
    - else
      - @user = conversation.user_one
      %li
        .collapsible-header
          = image_tag @user.avatar.url(:thumb), :class => "circle msg-list-img"
          %span.msg-list-name
            = @user.first_name
        .collapsible-body
          %p
            %b About:
            = @user.about
            %br
            %b Course:
            - course_user = CoursesUserRelation.where(user: @user, owner: current_user).first
            = course_user.course.categories.name
      
