.menu
  .name.center
    = @user.first_name
    .right.icons
      %i.fa.fa-phone{ style: 'padding-right:3rem;', 'aria-hidden': true}
      %i.fa.fa-video-camera{ style: 'padding-right:3rem;', 'aria-hidden': true}
      = hidden_field_tag :coversation, @conversation.id
      = hidden_field_tag :lasted_reply, @conversation.conversation_replies.last.id if @conversation.conversation_replies.present?
      = image_tag "images/thumb/avatar.png", class: 'hide', id: 'default-img'
%ol.chat-msg
  - for msg in @conversation.conversation_replies.order("created_at DESC")
    - if msg.user == current_user
      %li.self-msg
        .avatar-msg
          = image_tag msg.user.avatar.url(:thumb), draggable: "false"
        .msg-msg
          %p #{msg.reply}
          %time
            - if msg.created_at.today?
              = msg.created_at.strftime("%I:%M %p") 
            - else
              = msg.created_at.strftime("%a/%m - %I:%M %p")
    - else
      %li.other-msg
        .avatar-msg
          = image_tag msg.user.avatar.url(:thumb), draggable: "false"
        .msg-msg
          %p #{msg.reply}
          %time
            - if msg.created_at.today?
              = msg.created_at.strftime("%I:%M %p") 
            - else
              = msg.created_at.strftime("%a/%m - %I:%M %p")

.typezone
  %form
    %textarea#js-conversation-message{ type: 'text', placeholder: "Say something..."}
    .send
      %i.material-icons#js-conversation-send-message send
  .emojis
    %i.fa.fa-paperclip.fa-rotate-90{ style: 'font-size: xx-large;padding-top: 1.5rem; color: #6A6A6A;', 'aria-hidden': true}
