<div class="search-container">
    <!--Search bar -->
    <div id="wrap">
      <form action="" autocomplete="on">
      <input id="search" name="search" type="text" placeholder="What are you looking for ?" >
      <input id="search_submit" type="submit" >
      </form>
    </div>
    <!-- if no content then display this. If user start typing hide it -->
    <h4 class="center js-no-content">Click search icon to start</h4>
    <!-- search results -->
    <div class="search-outer row">
        <div class="search-row row">
            <a href="#" style="text-decoration: none; cursor: pointer; color: rgba(0, 0, 0, 0.87);">
            <div class="col s12 search-result left">
                <div class="search-img col s1"><%= image_tag current_user.avatar.url(:thumb), :class => "circle" %></div>
                <div class="search-name col s3">
                    <div class="center"><h5 style="text-transform: uppercase;"><%= current_user.first_name %> <%= current_user.last_name %></h5></div>
                    <div class="">
                          <div class="rating center">
                            <span class="rating-star rating-give" num="5">☆</span>
                            <span class="rating-star rating-give" num="4">☆</span>
                            <span class="rating-star rating-give" num="3">☆</span>
                            <span class="rating-star rating-give" num="2">☆</span>
                            <span class="rating-star rating-give" num="1">☆</span>
                          </div>
                    </div>
                </div>
                <div class="search-areas col s4">
                    <table>
                        <tr class="bot-border">
                            <td colspan="4"><span style="text-transform: uppercase; padding-left: 1rem;">Areas</span> <%= image_tag 'images/icons/Finance.png', :class => "areas-icons" %><%= image_tag 'images/icons/Health.png', :class => "areas-icons" %></td>
                        </tr>
                        <tr class="bot-border">
                            <td class="center">Mentis</td>
                            <td class="center l-border">Compatibility</td>
                            <td class="center l-border">Location</td>
                            <td class="center l-border">Price</td>
                        </tr>
                        <tr>
                            <td class="center"><h5>12</h5></td>
                            <td class="center l-border"><h5>94%</h5></td>
                            <td class="center l-border"><h5>AUS</h5></td>
                            <td class="center l-border"><h5>$$$</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="search-about col s3">
                    <h5 style="text-transform: uppercase;">About</h5>
                    <p><%= current_user.about %></p>
                    </div>
            </div>
        </div>
        
        </a>
    </div>
</div>


<div class="search-outer row">
        <div class="search-row row">
            <a href="#" style="text-decoration: none; cursor: pointer; color: rgba(0, 0, 0, 0.87);">
            <!-- search results -->
            <div class="col s12 search-result left">
                <div class="search-img col s1"><%= image_tag current_user.avatar.url(:thumb), :class => "circle" %></div>
                <div class="search-name col s3">
                    <div class="center"><h5 style="text-transform: uppercase;"><%= current_user.first_name %> <%= current_user.last_name %></h5></div>
                    <div class="">
                          <div class="rating center">
                            <span class="rating-star rating-give" num="5">☆</span>
                            <span class="rating-star rating-give" num="4">☆</span>
                            <span class="rating-star rating-give" num="3">☆</span>
                            <span class="rating-star rating-give" num="2">☆</span>
                            <span class="rating-star rating-give" num="1">☆</span>
                          </div>
                    </div>
                </div>
                <div class="search-areas col s4">
                    <table>
                        <tr class="bot-border">
                            <td colspan="4"><span style="text-transform: uppercase; padding-left: 1rem;">Areas</span> <%= image_tag 'images/icons/Finance.png', :class => "areas-icons" %><%= image_tag 'images/icons/Health.png', :class => "areas-icons" %></td>
                        </tr>
                        <tr class="bot-border">
                            <td class="center">Mentis</td>
                            <td class="center l-border">Compatibility</td>
                            <td class="center l-border">Location</td>
                            <td class="center l-border">Price</td>
                        </tr>
                        <tr>
                            <td class="center"><h5>12</h5></td>
                            <td class="center l-border"><h5>94%</h5></td>
                            <td class="center l-border"><h5>AUS</h5></td>
                            <td class="center l-border"><h5>$$$</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="search-about col s3">
                    <h5 style="text-transform: uppercase;">About</h5>
                    <p><%= current_user.about %></p>
                    </div>
            </div>
        </div>
        
        </a>
    </div>
</div>