- if !@feed_message.present?
  %h5.js-no-content.center
    = "-- No content --"
  %ol.chat
- else
  %ol.chat
    - for msg in @feed_message
      - if msg.sender == @user
        %li.self.animated.slideInDown
          .avatar
            = image_tag msg.sender.avatar.url(:thumb)
          .msg
            %h5.msg-name.center #{msg.sender.first_name}
            - if msg.message.present?
              %p #{msg.message}
            - elsif msg.image.present?
              %p 
                = image_tag msg.image.url(:thumb)
            - elsif msg.ref_feed_message.present?
              - if msg.ref_feed_message.message.present?
                %p 
                  #{msg.ref_feed_message.message}
                .credit-msg
                  %i.fa.fa-retweet{"aria-hidden" => "true"}
                  Shared from
                  = link_to msg.ref_feed_message.sender.first_name, user_path(msg.ref_feed_message.sender)
              - elsif msg.ref_feed_message.image.present?
                %p 
                  = image_tag msg.ref_feed_message.image.url(:thumb)
                .credit-msg
                  %i.fa.fa-retweet{"aria-hidden" => "true"}
                  Shared from
                  = link_to msg.ref_feed_message.sender.first_name, user_path(msg.ref_feed_message.sender)
            %time 
              - if msg.created_at.today?
                = msg.created_at.strftime("%I:%M %p") 
              - else
                = msg.created_at.strftime("%a/%m - %I:%M %p")
        - if msg.sender != current_user and current_user.present?
          %a.waves-effect.waves-teal.btn-flat.right.js-share-feed{style: "margin-right: 6%;", ref: msg.id}
            Share
            %i.fa.fa-heart{"aria-hidden" => "true"}
      - else
        %li.other.animated.slideInDown
          .avatar
            = image_tag msg.sender.avatar.url(:thumb)
          .msg
            %h5.msg-name.center #{msg.sender.first_name}
            - if msg.message.present?
              %p #{msg.message}
            - elsif msg.image.present?
              %p 
                = image_tag msg.image.url(:thumb)
            - elsif msg.ref_feed_message.present?
              - if msg.ref_feed_message.message.present?
                %p 
                  #{msg.ref_feed_message.message}
                .credit-msg
                  %i.fa.fa-retweet{"aria-hidden" => "true"}
                  Shared from
                  = link_to msg.ref_feed_message.sender.first_name, user_path(msg.ref_feed_message.sender)
              - elsif msg.ref_feed_message.image.present?
                %p 
                  = image_tag msg.ref_feed_message.image.url(:thumb)
                .credit-msg
                  %i.fa.fa-retweet{"aria-hidden" => "true"}
                  Shared from
                  = link_to msg.ref_feed_message.sender.first_name, user_path(msg.ref_feed_message.sender)
            %time
              - if msg.created_at.today?
                = msg.created_at.strftime("%I:%M %p") 
              - else
                = msg.created_at.strftime("%a/%m - %I:%M %p")
        - if msg.sender != current_user and current_user.present?
          %a.waves-effect.waves-teal.btn-flat.js-share-feed{style: "margin-left: 4%;", ref: msg.id}
            Share
            %i.fa.fa-heart{"aria-hidden" => "true"}