#js-feed-container.feed-container.animated.fadeInRight
  - if @user == current_user
    .row
      .row
        .input-field.col.s12
          %textarea#feed-message-area.materialize-textarea.feed-message-area{:placeholder => "Share your ideas, concepts, motivations... anything..."}
          %label{:for => "feed-message-area"}
        %div{:style => "text-align: right;"}
          %a.btn-floating.btn-large.waves-effect.waves-light.btn-flat
            = form_for(@feed, url: feed_message_upload_path, html: { method: :put , class: 'feed-attach-form' }) do |f|
              = f.file_field :image, class: 'hide feed_message_upload'
              %i.material-icons.black-text.feed-attach attach_file
          %button.btn.waves-effect.waves-light.feed-message-button{:name => "action", :type => "submit", id: "js-feed-message-button"}
            Share

  .hide
    = image_tag "images/thumb/avatar.png", class: 'hide', id: 'default-img'
    = hidden_field_tag 'js-feed-reciever', @user.id
    = hidden_field_tag 'js-feed-sender', current_user.id
    = hidden_field_tag 'js-newest-message', @feed_message.first.id if @feed_message.present?
    
  .feeds
    - if !@feed_message.present?
      %h5.js-no-content.center
        No content
      %ol.chat
    - else
      %ol.chat
        - for msg in @feed_message
          - if msg.sender == @user
            %li.self.animated.slideInDown
              .avatar
                = image_tag msg.sender.avatar.url(:thumb)
              .msg
                %h5.msg-name #{msg.sender.first_name}
                - if msg.message.present?
                  %p #{msg.message}
                - else
                  %p 
                    = image_tag msg.image.url(:thumb)
                %time 
                  - if msg.created_at.today?
                    = msg.created_at.strftime("%I:%M %p") 
                  - else
                    = msg.created_at.strftime("%a/%m - %I:%M %p")
          - else
            %li.other.animated.slideInDown
              .avatar
                = image_tag msg.sender.avatar.url(:thumb)
              .msg
                %h5.msg-name #{msg.sender.first_name}
                - if msg.message.present?
                  %p #{msg.message}
                - else
                  %p 
                    = image_tag msg.image.url(:thumb)
                %time
                  - if msg.created_at.today?
                    = msg.created_at.strftime("%I:%M %p") 
                  - else
                    = msg.created_at.strftime("%a/%m - %I:%M %p")