%li.mentor
  %span.mentor-label
    About:
    %br/
  %p.mentor-content
    - if @user.about.present?
      = @user.about
    - else
      %span.default-content
        Please update this detail in settings
    
%li.mentor
  %span.mentor-label
    Program:
    %br/
  %p.mentor-content
    - if @user.program.present?
      = @user.program
    - else
      %span.default-content
        Please update this detail in settings
    
%li.mentor
  %span.mentor-label
    terms:
    %br/
  %p.mentor-content
    - if @user.terms.present?
      = @user.terms
    - else
      %span.default-content
        Please update this detail in settings
%li.mentor
  %span.mentor-label
    prices:
    %br/
  %p.mentor-content
    - if @user.courses.present?
      %h5.center
        = '$' if @user.courses.maximum('price') >= 20 and @user.courses.maximum('price') <= 40
        = '$$' if @user.courses.maximum('price') > 40 and @user.courses.maximum('price') <= 60
        = '$$$' if @user.courses.maximum('price') > 60
    - else
      %span.default-content
        Please update this detail in settings