.row.setting-page
  .col.s12
    .row
      .form-fill
        = form_for(current_user, url: users_transaction_path(@user), html: { method: :put }) do |f|
          .course-container
            %h3{ class: 'header'} Course
            %hr/
            = image_tag @user.avatar.url(:thumb), :class => "payment-pic left"
            %h5 #{@user.first_name} #{@user.last_name}
            .row
              .term-details
                %h5 Terms:
                %h6{ style: 'margin-left: 10rem'} All the long long long long long terms here!
            .row
              .course-details
                %h5 Course: 
                %h6 Category : #{@course.categories.name}
                %h6 Price: $#{@course.price} per fortnight
                = hidden_field_tag :course_id, @course.id
            .row
              .option-container
                %ul.center
                  %li
                    %input#option{:name => "options", :type => "radio", :checked => "checked" }/
                    %label{:for => "option"} Accept
                  %li
                    %input#option2{:name => "options", :type => "radio"}/
                    %label{:for => "option2"} Decline
          .payment-container      
            %h3{ class: 'header'} Payment
            %hr/
            %ul{ class: 'collection with-header'}
              = link_to new_payment_path , class: 'collection-item' do
                %i{ class: 'fa fa-plus-circle fa-2x'}
                  Add Credit Card
              - for payment in @payments
                %li.collection-item.avatar
                  = radio_button_tag :payment_id, payment.id, class: 'with-gap'
                  %label{ for: 'payment_id_' + payment.id.to_s, style: 'width: 100%' }
                    = image_tag payment_logo(payment.card_type), class: "circle", style: "left: 34px !important;"
                    %span.title{:style => "margin-left: 4rem;"}
                      = " Card: #{payment.masked_number}"
                    %p{:style => "margin-left: 4rem;"}
                      = " Type: #{payment.card_type}"
                    = link_to destroy_payment_path(payment), class: 'secondary-content', method: :delete, data: { confirm: 'Are you sure?' } do
                      %i.fa.fa-times.fa-2x.right

          .row.center
            = link_to user_path(@user) , class: 'prev-page waves-effect waves-light btn' do
              %i.fa.fa-angle-left
              Back
            = f.submit "Next", { class: 'waves-effect waves-light btn' }