%ul#slide-out.side-nav.fixed
  %div{:style => "display: block;"}= image_tag @user.avatar.url(:thumb), :class => "circle mypic"
  %li
    %h4.center.navFont Welcome #{@user.first_name}!
  %li
    %h6.center.navFont How are you tracking so far...
  - courses = Course.where(user: @user)
  - @course_user_relation = current_user.courses_user_relations.where(user: current_user, course: courses).where('created_at >= ?', 2.week.ago)
  = hidden_field_tag :courses_user_relations, @course_user_relation.first.id if @course_user_relation.present?
  = render 'rating' if !@user.mentee?
  
  %hr/
  - if @user != current_user
    .col.s12
      - if current_user.follows.where(follower: @user).first.present?
        %button.waves-effect.waves-light.btn.unfollow.profBtns{ id: 'js-follow-button' } Unfollow
      - else
        %button.waves-effect.waves-light.btn.follow.profBtns{ id: 'js-follow-button' } Follow

      - if current_user.transactions.where(course_owner: @user, status: 'holded').where('created_at >= ?', 1.week.ago).present?
        = link_to 'Contact', users_wait_path(@user) , class: 'waves-effect waves-light btn profBtns contact modal-contact-trigger' 
      - elsif @course_user_relation.present?
        = link_to 'Contact',  message_path(@user) , class: 'waves-effect waves-light btn profBtns contact modal-contact-trigger' 
      - else
        %button.waves-effect.waves-light.btn.profBtns.contact.modal-contact-trigger{"data-target" => "contact-modal"} Contact

  - if !@user.mentee?
    %li
      .areas{:style => "display: inline-block; width: 99%; text-align: center; background-color: #E6E7E8"}
        %span.left{:style => "font-size: 1.4rem; margin-top: 0.5rem; margin-left: 2rem; color: #36524E"}
          Areas:
        %i.fa.fa-medkit.tooltip{"aria-hidden" => "true", "style" => "font-size: 2rem; color: #87CFC4; padding: 0.5rem"}
          %span.tooltiptext
            Health
        %i.fa.fa-money.tooltip{"aria-hidden" => "true", "style" => "font-size: 2rem; color: #87CFC4; padding: 0.5rem"}
          %span.tooltiptext
            Finance
      
  = render 'terms' if !@user.mentee?

  <!-- End mentor and both section -->
    
  = render 'category' if !@user.mentor?

  <!-- Mentor and both section -->
  = render 'mentor' if @user.follows.mentors.present?

  = render 'mentee' if @user.follows.mentees.present?
    
  %p{ style: 'height: 65px;'}
  <!-- End mentor and both section -->

%a.button-collapse-other.left.hide-on-large-only{"data-activates" => "slide-out", :href => "#", :style => "font-size: 4rem; color: #36524E !important;"}
  %div{:style => "display: block;"}= image_tag @user.avatar.url(:thumb), :class => "circle mypicslide"

= render 'feed_message'

= render 'modal' if @user == current_user

= render 'modalContact' if @user != current_user