<div id="add-email" class="container">
  <div class="row icon-container">
            <%= image_tag("icon.png", :class=>"icon",  :alt => "menti icon") %>
    </div>
<h2 class="center heading">Forgot Password?</h2>

<div class="form-group">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field input-field col s6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions col s10 offset-s1 m8 center">
    <h5><%= f.submit "Send me reset password instructions", class:"btn-large margin-btn"  %></h5>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

</div>