.row.setting-page
  .col.s3.left-content
    = render 'menu'
  .col.s9.right-content
    .row
      .form-fill
        %h3.left.header
          Mentor Settings
        = form_for(current_user, url: settings_mentor_detail_path , html: { method: :put }) do |f|
          .row
            .input-field.col.s12
              = f.text_area :about, length: 120, class: 'materialize-textarea'
              = f.label :about
            .input-field.col.s12
              = f.text_area :program, length: 120, class: 'materialize-textarea'
              = f.label :program
            .input-field.col.s12
              = f.text_area :terms, length: 100, class: 'materialize-textarea'
              = f.label :terms
            .input-field.col.s12
              %select.select-areas{:multiple => "multiple"}
                %option{:value => "1"} Education
                %option{:value => "2"} Finance
                %option{:value => "3"} Health
                %option{:value => "4"} Relationship
                %option{:value => "5"} Spirituality
                %option{:value => "6"} Work
              %label Choose your areas

          .row
            %h4.left.header
              Mentor Fields
            - for category in @categories
              .col.s12
                .div-check
                  .col.s5{ style: 'padding-bottom: 20px;'}
                    = check_box_tag "category_#{category.id}", category.id, category.category_course(current_user, category.id).present?, {class: 'mentor_category_checkbox',ref: category.id, name: 'user[category][][id]'}
                    %label{ for: "category_#{category.id}" }
                      %span.category_label #{category.name}
                  .col.s4.mentor_category_price_div{ ref: "#{category.id}"}
                    %input{ type: 'number', id: "category_price_#{category.id}",min: '0', name: 'user[category][][price]', ref: "#{category.id}", class: 'mentor_category_price', value: "#{category.category_course(current_user, category.id).first.price if category.category_course(current_user, category.id).present?}" }
                    %span{ class: 'prefix aud right'} 
                      AUD/Fortnight
                    %label{ for: "category_price_#{category.id}" }
                - @sub_category = Category.where(parent_id: category.id)
                - for sub_category in @sub_category
                  .col.s12{ style: 'padding-left: 20px; padding-bottom: 20px;'}
                    .div-check
                      .col.s5
                        = check_box_tag "category_#{sub_category.id}", sub_category.id, category.category_course(current_user, sub_category.id).present?, {class: 'mentor_category_checkbox', ref: sub_category.id , name: 'user[category][][id]'}
                        %label{ for: "category_#{sub_category.id}" }
                          %span.category_label #{sub_category.name}
                      .col.s4.mentor_category_price_div{ ref: "#{sub_category.id}"}
                        %input{ type: 'number', id: "category_price_#{sub_category.id}",min: '0', name: 'user[category][][price]', ref: "#{sub_category.id}", class: 'mentor_category_price', value: "#{category.category_course(current_user, sub_category.id).first.price if category.category_course(current_user, sub_category.id).present?}" }
                        %span{ class: 'prefix aud right'} 
                          AUD/Fortnight
                        %label{ for: "category_price_#{sub_category.id}" }

          .row
            = f.submit "Update Mentor Detail", { class: 'waves-effect waves-light btn' }