.row.setting-page
  .col.s3.left-content
    = render 'menu'
  .col.s9.right-content
    .row
      .form-fill
        %h3{ class: 'header'}
          Change Password

        = form_for(current_user, url: settings_password_path, html: { method: :put }) do |f|
          .row
            .input-field.col.s12
              = f.label :old_password, 'Old password'
              = f.password_field :old_password

            .input-field.col.s12
              = f.label :password, 'New password'
              = f.password_field :password

            .input-field.col.s12
              = f.label :password_confirmation, 'Confirm new password'
              = f.password_field :password_confirmation

          .actions
            = f.submit "Change password", { class: 'waves-effect waves-light btn' }