.login.container
  .row
    = image_tag("icon.png", :class=>"col s4 offset-s4",  :alt => "menti icon", :style => "height: 17rem; width: 20rem;")
  .row
    = image_tag("logo.png", :class=>"col s8 offset-s2",  :alt => "menti icon", :style => "height: 15rem;")

  .row
    = form_for(resource, as: resource_name, url: session_path(resource_name) , html: {class: 'col s8 offset-s2'} ) do |f|
      .row
        .input-field.col.s12
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'validate'
      .row
        .input-field.col.s12
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .input-field.col.s12
            = f.check_box :remember_me
            = f.label :remember_me
      .row
        .col.s12.offset-s1
          = f.button :submit, {class: 'col s6 offset-s2 btn-large waves-effect waves-light margin-btn'} do
            // %i.fa.fa-eye
            %h5 
              Log in

          - if devise_mapping.registerable? && controller_name != 'registrations'
            %h5=  link_to "Sign up", new_registration_path(resource_name), {class: 'col s6 offset-s2 btn-large waves-effect waves-light margin-btn'}
      .row
        .col.s12
          = render "devise/shared/links"
        