<div class="resources-container row">
    <ul class="col s6 res-off-ul">
        <li class="res-heading">
            Official Resources
        </li>
       <li class="res-off-list">
           Resource: name name name name
       </li> 
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
       <li class="res-off-list res-padd">
           Resource: name name name name
       </li>
    </ul>
    <ul class="col s6 res-user-ul">
        <li class="res-heading">
            User Resources
        </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li> 
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
       <li class="res-user-list">
           Resource: name name name name
           <div class="img-cont">
               <%= image_tag current_user.avatar.url(:thumb), :class => "circle res-img" %> 
               <span class="res-name"><%= current_user.first_name %></span>
               
           </div>
       </li>
    </ul>
</div>
