    <!-- Carousel Start -->
<div class="slider" style="">
  <ul class="slides">
    <li>
      <%= image_tag("slider/main.jpg") %>
      <div class="caption left-align">
        <h1 class="white-text c-text" style="text-shadow: 2px 2px 4px #000000;">Welcome aboard!</h1>
        <h3 class="light white-text" style="text-shadow: 1px 1px 2px #000000;">Grow yourself, Grow the planet.</h3>
      </div>
    </li>
    <li>
      <%= image_tag("slider/1.jpg") %>
      <div class="caption center-align">
        <h3 class="black-text t-text">I am not what happened to me. I am what I choose to become.</h3>
        <h5 class="light grey-text">~ Carl Jung</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/2.jpg") %>
      <div class="caption left-align">
        <h3 class="s-text">Smooth seas do not make skillful sailors.</h3>
        <h5 class="light grey-text text-lighten-3">~ African proverb</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/4.jpg") %>
      <div class="caption right-align">
        <h3 class="black-text l-text">Life is not about waiting for the storm to pass. It’s about learning to dance in the rain.</h3>
        <h5 class="light white-text">~ Anon</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/3.jpg") %>
      <div class="caption right-align">
        <h3 class="l-text">In the depth of winter, I finally learned that within me there lay an invincible summer.</h3>
        <h5 class="light grey-text text-lighten-3">~ Albert Camus</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/5.jpg") %>
      <div class="caption left-align">
        <h3 class="s-text">A positive attitude may not solve all your problems, but it will annoy enough people to make it worth the effort.</h3>
        <h5 class="light grey-text text-lighten-3">~ Herm Albright</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/6.jpg") %>
      <div class="caption center-align">
        <h3 class="c-text">Most of the shadows of this life are caused by our standing in our own sunshine.</h3>
        <h5 class="light grey-text text-lighten-3">~ Ralph Waldo Emmerson</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/7.jpg") %>
      <div class="caption right-align">
        <h3 class="t-text">Don’t think you’re on the right road just because it’s a well-beaten path.</h3>
        <h5 class="light grey-text text-lighten-3">~ Unknown</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/9.jpg") %>
      <div class="caption right-align">
        <h3 class="t-text">The real voyage of discovery consists of not in seeking new landscapes but in having new eyes.</h3>
        <h5 class="light grey-text text-lighten-3">~ Marcel Proust</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/extra.jpg") %>
      <div class="caption left-align">
        <h3 class="t-text">Write it on your heart that every day is the best day in the year.</h3>
        <h5 class="light grey-text text-lighten-3">~ Ralph Waldo Emmerson</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/10.jpg") %>
      <div class="caption left-align">
        <h3 class="s-text">Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fearless.</h3>
        <h5 class="light grey-text text-lighten-3">~ Marie Curie</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/13.jpg") %>
      <div class="caption left-align">
        <h3 class="l-text">To succeed in life, you need three things: a wishbone, a backbone and a funny bone.</h3>
        <h5 class="light grey-text text-lighten-3">~ Reba McEntire</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/12.jpg") %>
      <div class="caption center-align">
        <h3 class="t-text">Use your imagination, not to scare yourself to death; but to inspire yourself to live.</h3>
        <h5 class="light text-lighten-3">~ Adele Brockman</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/14.jpg") %>
      <div class="caption left-align">
        <h3 class="t-text">If you are brave enough to say goodbye, life will reward you with a new hello.</h3>
        <h5 class="light grey-text text-lighten-3">~ Paulo Coelho</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/15.jpg") %>
      <div class="caption right-align">
        <h3 class="t-text">Don’t fear failure so much that you refuse to try new things. The saddest summary of a life contains three descriptions: could have, might have, and should have.</h3>
        <h5 class="light grey-text text-lighten-3">~ Louis E. Boone</h5>
      </div>
    </li>
    <li>
      <%= image_tag("slider/16.jpg") %>
      <div class="caption left-align">
        <h3 class="black-text s-text">Waste your money and you’re only out of money, but waste your time and you’ve lost a part of your life.</h3>
        <h5 class="light black-text text-lighten-3">~ Michael Leboeuf</h5>
      </div>
    </li>
  </ul>
</div>
<!--Carousel end-->
<!--style="color: #FFEF99; text-shadow: 2px 2px black;"-->