.navbar-fixed
  %nav.main-header
    .nav-wrapper
      = link_to dashboard_path do
        .brand-logo
          = image_tag 'icon.png', class: 'header-icon', alt: 'menti icon'
          = image_tag 'logo.png', class: 'header-logo', alt: 'menti icon'
      %a{ href: '#!', data: { activates: 'mobile-demo'}, class: 'right button-collapse' }
        %i{ class: 'header-fa fa fa-bars', 'aria-hidden': 'true'}
      %ul{ class: 'right hide-on-med-and-down header-links'}
        - if user_signed_in?
          %li.tooltip-header
            %span.tooltiptext-header
              Home
            = link_to dashboard_path do
              %i.fa.fa-home.header-fa
          %li.tooltip-header
            %span.tooltiptext-header
              Dashboard
            = link_to user_path(current_user) do
              %i{ class: 'fa fa-user header-fa', 'aria-hidden': 'true'}
          %li.tooltip-header
            %span.tooltiptext-header
              Search
            %a
              %i{ class: 'fa fa-search header-fa', 'aria-hidden': 'true'}
          %li.tooltip-header
            %span.tooltiptext-header
              Notifications
            = link_to notifications_path do
              - if Notification.where(user: current_user, seen: false).present?
                %i.fa.fa-bell.header-fa.icon-grey.badge
              - else
                %i.fa.fa-bell.header-fa.icon-grey
          %li.tooltip-header
            %span.tooltiptext-header
              Message
            = link_to message_index_path do
              %i.fa.fa-comment.header-fa
          %li.tooltip-header
            %span.tooltiptext-header
              Resources
            %a
              %i{ class: 'fa fa-book header-fa', 'aria-hidden': 'true'}
          %li.tooltip-header
            %span.tooltiptext-header
              Settings
            = link_to settings_path do
              %i.fa.fa-cog.header-fa
          %li.tooltip-header
            %span.tooltiptext-header
              Sign out
            = link_to destroy_user_session_path, :method => :delete do
              %i.fa.fa-sign-out.header-fa
        - else
          %li.tooltip-header
            %span.tooltiptext-header
              Home
            = link_to root_path do
              %i.fa.fa-home.header-fa
          %li.tooltip-header
            %span.tooltiptext-header
              Search
            %a
              %i{ class: 'fa fa-search header-fa', 'aria-hidden': 'true'}
  
      %ul{ class: 'side-nav', id: 'mobile-demo'}
        - if user_signed_in?
          %li
            = link_to 'Home', dashboard_path, class: 'white-text side-links'
          %li
            = link_to 'My Profile', user_path(current_user), class: 'white-text side-links'
          %li
            %a{ href: '#!', class: 'white-text side-links' }
              Search
          %li
            = link_to 'Notifications', notifications_path, class: 'white-text side-links'
          %li
            = link_to 'Message', message_index_path, class: 'white-text side-links'
          %li
            %a{ href: '#!', class: 'white-text side-links' }
              Resources
          %li
            = link_to 'Setting', settings_path, class: 'white-text side-links'
          %li
            = link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'white-text side-links'
        - else
          %li
            = link_to 'Home', root_path, class: 'white-text side-links'
          %li
            %a{ href: '#!', class: 'white-text side-links' }
              Search
